        <table id="ForecastTable">
            <tr id="TodayIcons">
                <td>
                    <img src={{ todayIcon0 }} alt=""><br>
                    {{ todayTemp0 }}<br>
                    {{ todayHum0 }}<br>
                    {{ todayCloud0 }}<br>
                    {{ todayTime0 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon1 }}>-->
                        <img src={{ todayIcon1 }} alt=""><br>
                            {{ todayTemp1 }}<br>
                            {{ todayHum1 }}<br>
                            {{ todayCloud1 }}<br>
                            {{ todayTime1 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon2 }}>-->
                        <img src={{ todayIcon2 }} alt=""><br>
                            {{ todayTemp2 }}<br>
                            {{ todayHum2 }}<br>
                            {{ todayCloud2 }}<br>
                            {{ todayTime2 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon3 }}>-->
                        <img src={{ todayIcon3 }} alt=""><br>
                            {{ todayTemp3 }}<br>
                            {{ todayHum3 }}<br>
                            {{ todayCloud3 }}<br>
                            {{ todayTime3 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon4 }}>-->
                        <img src={{ todayIcon4 }} alt=""><br>
                            {{ todayTemp4 }}<br>
                            {{ todayHum4 }}<br>
                            {{ todayCloud4 }}<br>
                            {{ todayTime4 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon5 }}>-->
                        <img src={{ todayIcon5 }} alt=""><br>
                            {{ todayTemp5 }}<br>
                            {{ todayHum5 }}<br>
                            {{ todayCloud5 }}<br>
                            {{ todayTime5 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon6 }}>-->
                        <img src={{ todayIcon6 }} alt=""><br>
                            {{ todayTemp6 }}<br>
                            {{ todayHum6 }}<br>
                            {{ todayCloud6 }}<br>
                            {{ todayTime6 }}
                </td>
                <td>
                    <!--<img src={{ todayIcon7 }}>-->
                        <img src={{ todayIcon7 }} alt=""><br>
                            {{ todayTemp7 }}<br>
                            {{ todayHum7 }}<br>
                            {{ todayCloud7 }}<br>
                            {{ todayTime7 }}
                </td>
            </tr>
            <tr id="ForecastIcons">
                <td>
                    <img src={{ todayIcon9 }} alt=""><br>
                    {{ todayTemp9 }}<br>
                    {{ todayHum9 }}<br>
                    {{ todayCloud9 }}<br>
                    {{ todayTime9 }}
                </td>
                <td>
                    <img src={{ todayIcon11 }} alt=""><br>
                    {{ todayTemp11 }}<br>
                    {{ todayHum11 }}<br>
                    {{ todayCloud11 }}<br>
                    {{ todayTime11 }}
                </td>
                <td>
                    <img src={{ todayIcon13 }} alt=""><br>
                    {{ todayTemp13 }}<br>
                    {{ todayHum13 }}<br>
                    {{ todayCloud13 }}<br>
                    {{ todayTime13 }}
                </td>
                <td>
                    <img src={{ todayIcon15 }} alt=""><br>
                    {{ todayTemp15 }}<br>
                    {{ todayHum15 }}<br>
                    {{ todayCloud15 }}<br>
                    {{ todayTime15 }}
                </td>
                <td>
                    <img src={{ todayIcon17 }} alt=""><br>
                    {{ todayTemp17 }}<br>
                    {{ todayHum17 }}<br>
                    {{ todayCloud17 }}<br>
                    {{ todayTime17 }}
                </td>
                <td>
                    <img src={{ todayIcon19 }} alt=""><br>
                    {{ todayTemp19 }}<br>
                    {{ todayHum19 }}<br>
                    {{ todayCloud19 }}<br>
                    {{ todayTime19 }}
                </td>
                <td>
                    <img src={{ todayIcon21 }} alt=""><br>
                    {{ todayTemp21 }}<br>
                    {{ todayHum21 }}<br>
                    {{ todayCloud21 }}<br>
                    {{ todayTime21 }}
                </td>
                <td>
                    <img src={{ todayIcon23 }} alt=""><br>
                    {{ todayTemp23 }}<br>
                    {{ todayHum23 }}<br>
                    {{ todayCloud23 }}<br>
                    {{ todayTime23 }}
                </td>
            </tr>
        </table>