<table id="PowerData">
    <tr>
        <td>
            <div style="padding: 2px; display: inline-block;">Momentan: </div>
            <div id="PowerValue">{{ power }}</div>
            <div style="padding: 2px; display: inline-block;">W</div>
        </td>
    </tr>
    <tr>
        <td>
            <img id="PowerHistory" src="/PowerHistory" alt="power history">
        </td>
    </tr>
</table>
<!-- <table >
    <tr>
        <td>
            <img id="PowerThisMonth" src="/PowerThisMonth" alt="power history this month">
        </td>
    </tr>
</table> -->
