<!DOCTYPE html>
    <head>
        <title>WeatherStation</title>
        <!--<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='blackstyle.css') }}?v1.0"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                checkBoxes = document.querySelectorAll('input[type=checkbox]');
                for(i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].removeAttribute("checked");
                    if( checkBoxes[i].id == "{{icontypes}}" ) {
                        checkBoxes[i].checked = "true";
                    }
                }
            })

            function onlyOne(checkbox) {
                var checkboxes = document.getElementsByName('iconSet')
                checkboxes.forEach((item) => {
                    if (item !== checkbox) item.checked = false
            })
}
            function back() {
                var iconSet = "default";
                var checkboxes = document.querySelectorAll('input[type=checkbox]');
                // loop over them all
                for (var i=0; i<checkboxes.length; i++) {
                    // And stick the checked ones onto an array...
                    if (checkboxes[i].checked) {
                        iconSet = checkboxes[i].id;
                    }
                }
                window.location.href = window.location.href.split("/settings")[0] + "/?icons="+iconSet;
            }
        </script>
    </head>
    <body>
        <h>WeatherStation Settings</h>
        <br>
        <br>
        <table>
            <tr>
                <td>
                    <input type="checkbox" id="my_icons" value="my_icons" name="iconSet" onclick="onlyOne(this)" checked> 
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/32.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/31.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/28.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/29.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/12.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/45.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/35.png">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/my_icons/47.png">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="openweathermap" name="iconSet" value="openweathermap" onclick="onlyOne(this)"> 
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/01d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/01n.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/03d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/03n.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/09d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/09n.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/11d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/openweathermap/11n.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="openweathermap darksky" name="iconSet" value="openweathermap darksky" onclick="onlyOne(this)"> 
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/clear-day.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/clear-night.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/overcast-day.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/overcast-night.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/partly-cloudy-day-rain.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/partly-cloudy-night-rain.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/thunderstorms-day.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/fill/all/thunderstorms-night.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="openweathermap line" name="iconSet" value="openweathermap line" onclick="onlyOne(this)"> 
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/01d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/01n.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/03d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/03n.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/09d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/09n.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/11d.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/openweathermap/11n.svg">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="openweathermap line darksky" name="iconSet" value="openweathermap line darksky" onclick="onlyOne(this)"> 
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/clear-day.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/clear-night.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/overcast-day.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/overcast-night.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/partly-cloudy-day-rain.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/partly-cloudy-night-rain.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/thunderstorms-day.svg">
                </td>
                <td>
                    <img style="width:128px;height:128px;" src="static/weather-icons-master/production/line/all/thunderstorms-night.svg">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <button class="button button_back" onclick="back()">Back</button>
    </body>
    </html>