<table id="TotalData">
    <tr>
        <!--<td style="width: 25%; vertical-align: bottom;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">Zählerstand: </div>
        </td>
        <!--<td style="width: 20%; vertical-align: bottom; text-align: right;">-->
        <td>
            <div id="TotalValue">{{ total }}</div>
        </td>
        <!--<td style="width: 10%; vertical-align: bottom; text-align: left;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">kWh</div>
        </td>
    </tr>
    <tr>
        <!--<td style="width: 25%; vertical-align: bottom; font-size: 0.75em;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">Zählerstand (Vormonat): </div>
        </td>
        <!--<td style="width: 20%; vertical-align: middle; text-align: right;">-->
        <td>
            <div id="TotalValueBefore">{{ total_value_before }}</div>
        </td>
        <!--<td style="width: 10%; vertical-align: bottom; text-align: left;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">kWh</div>
        </td>
    </tr>
    <tr>
        <!--<td style="width: 25%; vertical-align: bottom;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">Verbrauch akt. Monat: </div>
        </td>
        <!--<td style="width: 20%; vertical-align: bottom; text-align: right;">-->
        <td>
            <div id="TotalValue">{{ total_month }}</div>
        </td>
        <!--<td style="width: 10%; vertical-align: bottom; text-align: left;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">kWh</div>
        </td>
    </tr>
    <tr>
        <!--<td style="width: 25%; vertical-align: bottom;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">Verbrauch Vormonat: </div>
        </td>
        <!--<td style="width: 20%; vertical-align: bottom; text-align: right;">-->
        <td>
            <div id="TotalValue">{{ total_month_before }}</div>
        </td>
        <!--<td style="width: 10%; vertical-align: bottom; text-align: left;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">kWh</div>
        </td>
    </tr>
    <tr>
        <!--<td style="width: 25%; vertical-align: bottom;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">Verbrauch laufendes Jahr: </div>
        </td>
        <!--<td style="width: 20%; vertical-align: bottom; text-align: right;">-->
        <td>
            <div id="TotalValue">{{ total_year }}</div>
        </td>
        <!--<td style="width: 10%; vertical-align: bottom; text-align: left;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">kWh</div>
        </td>
    </tr>
    <tr>
        <!--<td style="width: 25%; vertical-align: bottom;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">Verbrauch Vorjahr: </div>
        </td>
        <!--<td style="width: 20%; vertical-align: bottom; text-align: right;">-->
        <td>
            <div id="TotalValue">{{ total_year_before }}</div>
        </td>
        <!--<td style="width: 10%; vertical-align: bottom; text-align: left;">-->
        <td>
            <div style="padding: 2px; display: inline-block;">kWh</div>
        </td>
    </tr>
</table>
<!-- <table >
    <tr>
        <td>
            <img id="PowerThisWeek" src="/PowerThisWeek" alt="power history this week">
        </td>
    </tr>
</table> -->
